@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

* svg {
  display: block;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* input,
* button {
  border: none;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-ExtraBold.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope", sans-serif;
  src: url("../fonts/Manrope-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope", sans-serif;
  src: url("../fonts/Manrope-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope", sans-serif;
  src: url("../fonts/Manrope-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman", sans-serif;
  src: url("../fonts/TimesNewRomanPS-BoldMT.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSansCondensed-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --premium-pink: #e43071;
  --grey-copy: #424242;
  --pink-subtle: #ffdae7;
  --pink-hover: #be285e;
  --dark-disabled: #d37899;
  --light-grey: #f2f3f8;
  --font-family: "Poppins", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Times New Roman", sans-serif;
  --font3: "Open Sans", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 20px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 1281px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family);
  color: var(--grey-copy);
  font-weight: 400;
  font-size: 16px;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  bottom: 0;
}

h1 {
  font-size: clamp(36px, 4.8611111111vw, 70px);
}

h2 {
  font-size: clamp(24px, 4.1666666667vw, 60px);
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: clamp(26px, 2.6388888889vw, 38px);
}

.btn-solid-pink {
  max-width: 200px;
  height: 64px;
  padding: 20px 65px;
  font-weight: 600;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
  color: var(--premium-pink);
  border: 2px solid var(--premium-pink);
  transition-duration: 0.5s;
  cursor: pointer;
}
@media (hover: hover) {
  .btn-solid-pink:hover {
    color: var(--pink-hover);
    border-color: var(--pink-hover);
  }
}
@media (hover: none) {
  .btn-solid-pink:active {
    color: var(--pink-hover);
    border-color: var(--pink-hover);
  }
}
.btn-solid-pink:focus {
  outline: none;
  box-shadow: 0 0 0px 7px var(--pink-subtle);
}
@media (max-width: 1023px) {
  .btn-solid-pink {
    padding: 10px 40px;
  }
}

.btn-outline-pink {
  padding: 20px 65px;
  font-weight: 600;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  background-color: var(--premium-pink);
  transition-duration: 0.5s;
  cursor: pointer;
}
@media (hover: hover) {
  .btn-outline-pink:hover {
    background-color: var(--pink-hover);
  }
}
@media (hover: none) {
  .btn-outline-pink:active {
    background-color: var(--pink-hover);
  }
}
.btn-outline-pink:focus {
  outline: none;
  box-shadow: 0 0 0px 7px var(--pink-subtle);
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
  background-color: var(--premium-pink);
  overflow: hidden;
}
@media (max-width: 1023px) {
  .header {
    padding: 15px 20px;
  }
}
.header_logo {
  color: #fff;
  font-weight: 800;
}
.header_logo span {
  color: #ffc1d8;
}
.header_search {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .header_btn {
    display: none;
  }
}

.menu-header {
  width: 100%;
  color: #fff;
}
.menu-header_list {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: space-evenly;
}

.search-header {
  min-width: 117px;
  position: relative;
  transition-duration: 0.5s;
}
.search-header_inp {
  outline-color: var(--pink-hover);
  background-color: var(--pink-subtle);
  border-radius: 40px;
  padding: 10px 50px 10px 10px;
  width: 100%;
}
.search-header_btn {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--pink-hover);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  position: absolute;
}
.search-header_btn * {
  margin-inline: auto;
}
.search-header_active {
  min-width: 200px;
}

.btn-burger {
  display: none;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
}
.btn-burger_active span {
  display: none;
}
.btn-burger_active::before {
  transform: rotate(-45deg) translate(0, -65%);
  top: 50% !important;
}
.btn-burger_active::after {
  bottom: 50% !important;
  transform: rotate(45deg) translate(0, 70%);
}
.btn-burger::before, .btn-burger::after, .btn-burger span {
  left: 0;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition-duration: 0.4s;
}
.btn-burger::before {
  content: "";
  top: 0;
}
.btn-burger::after {
  content: "";
  bottom: 0;
}
.btn-burger span {
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1080px) {
  .header_logo {
    z-index: 2;
    margin-right: 10px;
  }
  .menu-header_list {
    display: grid;
    grid-gap: 15px;
    grid-template: " a b b c " " d d e e ";
    width: 100%;
    max-width: 600px;
  }
  .menu-header_item:nth-child(1) {
    grid-area: a;
  }
  .menu-header_item:nth-child(2) {
    grid-area: b;
  }
  .menu-header_item:nth-child(3) {
    grid-area: c;
  }
  .menu-header_item:nth-child(4) {
    grid-area: d;
  }
  .menu-header_item:nth-child(5) {
    grid-area: e;
  }
}
@media (max-width: 767px) {
  .btn-burger {
    display: block;
    margin-right: 10px;
  }
  .menu-header {
    position: fixed;
    padding: 75px 30px 30px 30px;
    top: 0px;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    background-color: var(--premium-pink);
    transition-duration: 0.5s;
  }
  .menu-header_list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .menu-header_active {
    transform: translateX(0%);
  }
}
@media (min-width: 430px) {
  .header_logo {
    font-size: 24px;
  }
}/*# sourceMappingURL=styles.css.map */