body {
  font-family: var(--font-family);
  color: var(--grey-copy);

  font-weight: 400;

  font-size: 16px;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  bottom: 0;
}

h1 {
  @include fluid-text(70, 21);
}

h2 {
  @include fluid-text(60, 24);
}

h3 {
  font-size: 40px;
}

h4 {
  @include fluid-text(38, 26);
}

.btn-solid-pink,
.btn-outline-pink {
  padding: 15px 65px;
  text-align: center;
  font-weight: 600;
  border-radius: 40px;
  transition-duration: 0.5s;
  &:focus {
    outline: none;
    box-shadow: 0 0 0px 7px var(--pink-subtle);
  }
  @include tablet {
    padding: 10px 40px;
    font-size: 14px;
  }

  @include mobileL {
    padding: 7px 25px;
    font-size: 10px;
  }
}

.btn-solid-pink {
  background-color: #fff;

  color: var(--premium-pink);
  border: 2px solid var(--premium-pink);

  @include hover {
    color: var(--pink-hover);
    border-color: var(--pink-hover);
  }
}

.btn-outline-pink {
  color: #fff;
  background-color: var(--premium-pink);

  @include hover {
    background-color: var(--pink-hover);
  }
}
