:root {
  // переменные всех цветов
  --premium-pink: #e43071;
  --grey-copy: #424242;
  --pink-subtle: #ffdae7;
  --pink-hover: #be285e;
  --dark-disabled: #d37899;
  --light-grey: #f2f3f8;
  --pink-span: #ffc1d8;

  // шрифты
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Manrope', sans-serif;
  --third-family: 'Times New Roman', sans-serif;
  --font3: 'Open Sans', sans-serif;

  // ширина и отступы контейнеров
  --container-width: 1440px;
  --container-padding-x: 20px;
}
